*{
    text-align: center;
}
h1{
    font-size: 35px;

}
.titulochi{
    font-size: 40px;
    background-color: red;
    color: black;
    border-style: groove;
    width: 150px;
    height: 40px;
    position: relative;
    left: 243px;
}
div#chicken{
    font-size: 20px;
    background-color: rgb(128, 128, 128);
    color: black;
    border-style: groove;
    width: 400px;
    height: 200px;
    position: relative;
}
.titulobee{
    font-size: 40px;
    background-color: brown;
    color: black;
    border-style: groove;
    width: 150px;
    height: 40px;
    position: relative;
    left: 243px;
}
div#Beef{
    font-size: 20px;
    background-color: rgb(128, 128, 128);
    color: black;
    border-style: groove;
    width: 400px;
    height: 200px;
    position: relative;
}
.titulosu{
    font-size: 40px;
    background-color: yellow;
    color: black;
    border-style: groove;
    width: 150px;
    height: 40px;
    position: relative;
    left: 243px;
}
div#sushi{
    font-size: 20px;
    background-color: rgb(128, 128, 128);
    color: black;
    border-style: groove;
    width: 400px;
    height: 200px;
    position: relative;
}
.positionb{
    position: relative;
    left: 430px;
    bottom: 206px;
}
.positions{
    position: relative;
    left: 860px;
    bottom: 412px;
}
